.contCards {
    display: flex;
    margin: 25px;
    .itemCard {
        background: transparent;
        width: 290px;
        height: 450px;  
        transition: all 0.6s;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        h2{
            font-size: 22px;
        }
        &:hover {
            transition: all 0.6s;
            transform: scale(1.1);
        }
        .imgProd{
            width: 80%;
        }
        .det{
            border: solid black 1px;
            &:hover {
                transition: all 0.6s;
                background-color: rgba(0, 0, 0, 0.833);
                color: white;
            }
        }
        section{
            p{
                
                border-top: solid black 2px;
            }
        }
    }
}
