.btnCompr{
    list-style-type: none;
    text-decoration: none;
    color: black;
    transition: all 0.6s;
    &:hover{
        color: black;
        transition: all 0.6s;
        border-bottom: solid 2px black;
    }
}