.NvBar {
    grid-area: nav;
}

.ConTitulo {
    display: flex;
    background: transparent;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    a{
        display: flex;
        color: black;
        padding: 8px;
        font-size: 48px;
        border-bottom: solid 2px black;
        list-style: none;
        text-decoration: none;
        transition: all 0.7s;
        &:hover{
            color: black;
            transform: scale(1.2);
            transition: all 0.6s;
        }
    }
}

.imgCart{
    width: 44px;
    margin-right: 2px;
    a{
        display: flex;
        align-items: center;
        list-style: none;
        text-decoration: none;
        color: rgb(125, 124, 124);
        transition: all 0.6s;
        &:hover{
            color: rgb(226, 225, 225);
            transition: all 0.6s;
        }
    }
}


.link {
    text-decoration: none;
    list-style: none;
    color: rgb(164, 164, 164);
    transition: 0.2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    padding: 2px;
    &:hover{
        transition: 0.2s;
        color: rgb(197, 197, 197);
    }
}

